---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Visualizations">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Interactive Music Visualizations</Fragment>
      <Fragment slot="desc">
        We visualize music and learn from it.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        <li class="border border-gray-200 rounded-lg p-4">
          <a href={`/music-visualizations/tonnetz`}>
            <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
              <Picture
                src="/public/Tonnetz.png"
                alt="Tonnetz"
                sizes="(max-width: 800px) 100vw, 800px"
                width={800}
                height={600}
                loading={"eager"}
                decoding={"async"}
                class="w-full rounded-md object-cover object-center bg-white"
              />
              <div>

                <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                  Tonnetz
                </h2>
                <p>
                  A visualization of the Tonnetz, a 12-tone lattice structure used in the study of music theory.
                </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </main>
  </Container>
</Layout>
