---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Keyboard and Mouse Input",
    description:
      "Interact with visualizations using your keyboard and mouse, providing an intuitive and accessible way to create and manipulate music.",
    icon: "bx:bxs-keyboard",
  },
  {
    title: "MIDI Input Support",
    description:
      "Connect your MIDI devices for a more professional and expressive music creation experience, allowing for real-time input and control.",
    icon: "bx:bxs-piano",
  },
  {
    title: "Recording Capability",
    description:
      "Capture your musical creations and visualizations with ease, allowing you to save, share, and revisit your work anytime.",
    icon: "bx:bxs-camera",
  },
  {
    title: "Real-time Sound Generation",
    description:
      "Instantly produce sounds corresponding to your interactions, providing immediate auditory feedback for each musical element you create or manipulate.",
    icon: "bx:bxs-volume-full",
  },
  {
    title: "MIDI File Playback",
    description:
      "Import and play MIDI files, opening up a world of pre-existing compositions to visualize and learn from.",
    icon: "bx:bxs-music",
  },
  {
    title: "Diverse Music Visualizations",
    description:
      "Explore a wide range of visualization styles and techniques, from simple waveforms to complex, interactive 3D representations of your music.",
    icon: "bx:bxs-select-multiple",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to use music visualizations
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Music visualizations come batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
