---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Music Visualizations Project
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Throughout history, numerous renowned musicians have developed a variety of music theories, many of which have been represented in visual forms, such as the Tonnetz and the circle of fifths. This project aims to bring these visualizations to life with an intuitive and user-friendly interface.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/music-visualizations/visualizations"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-music" />

         See Visualizations
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/XavierYuhanLiu/music-visualizations"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         GitHub Repo
      </Link>
    </div>
  </div>
</main>
